@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic-ext,greek-ext');


::-webkit-scrollbar {
    display: none;
}
::scrollbar {
    display: none;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
    position: relative;
    background: #292929;
    color: #FFF;
    /*font-family: 'Slabo 27px', serif;*/
    /*font-family: 'VT323', monospace;*/
    font-family: 'Roboto', sans-serif;
    padding-top: 120px;
}

.container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}
.text-center { text-align: center; }
.large { font-size: 50px; }


header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #2F2F2F;
  box-shadow: 0 3px 6px rgba(0,0,0, .28)
}

h1.h-title {
  line-height: 80px;
  margin: 0;
  color: #FFF;
  font-weight: 100;
}

.drawer-all
{ margin-bottom: 20px;
  padding: 20px;
  background: #2F2F2F;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
}

p.box-title {
  margin-top: 0;
  color: #707070;
  font-weight: 300;
}
p.info-text {
  font-weight: 300;
}
textarea.js-text-input {
    width: 100%;
    height: 200px;
    background: transparent;
    color: #00C853;
    resize: none;
    outline: #E91E63;
    font-size: 24px;
    border: 1px solid #353535;
    margin-bottom: 15px;
    padding: 15px;
}
button.js-btn-count {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    background: #F44336;
    border: 0;
    outline: 0;
}


div.js-output{
    position: relative;
    width: 100%;
    padding: 20px;
}
div.chart-box {
  position: relative;
  width: 100%;
  height: 100px;
}
div.chart-box::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 1px;
    background: rgb(169, 170, 169);
}
div.chart-box::after {
    content: '';
    position: absolute;
    width: 1px;
    bottom: 0;
    left: 0;
    height: 100%;
    background: rgb(169, 170, 169);
}

div.js-letter {
    position: relative;
    float: left;
    width: 40px;
    color: #FFF;
    margin-right: 3px;
    margin-top: -25px;
    text-align: center;
}
div.js-letter > span {
    position: inherit;
    z-index: 9;
    display: block;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
}
div.js-histogram-level {
    position: absolute;
    bottom: 35px;
    width: 100%;
    height: 0px;
    background: #880E4F;
    opacity: .5;
    transition: all .5s;
}
